<h1>Death Records</h1>

<p>
  <%= link_to 'Add Death Record', new_death_record_path %>
</p>

<br/>

<table>
  <th>
    <td>Year</td>
    <td>Month</td>
    <td>Day</td>
    <td>First Name</td>
    <td>Middle Name</td>
    <td>Second Name</td>
    <td>Last Name</td>
    <td>Maiden Name</td>
  </th>
  <% @deathrecord.each do |f| %>
  <tr>
    <td><%= f.year %></td>
    <td><%= f.month %></td>
    <td><%= f.day %></td>
    <td><%= f.first_name %></td>
    <td><%= f.middle_name %></td>
    <td><%= f.second_name %></td>
    <td><%= f.last_name %></td>
    <td><%= f.maiden_name %></td>
  </tr>
  <% end %>
</table>
