<h3>Birth Records</h3>

<p>
  <%= link_to 'Add Birth Record', new_birth_record_path, class: "button small" %>
</p>

<br/>

<table>
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Day</th>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Second Name</th>
    <th>Last Name</th>
    <th>Suffix</th>
    <th>Code</th>
  </tr>
  <% @birthrecord.each do |f| %>
  <tr>
    <td><%= f.birth_year %></td>
    <td><%= f.birth_month %></td>
    <td><%= f.birth_day %></td>
    <td><%= f.first_name %></td>
    <td><%= f.middle_name %></td>
    <td><%= f.second_name %></td>
    <td><%= f.last_name %></td>
    <td><%= f.name_suffix %></td>
    <td><%= f.code %></td>
  </tr>
  <% end %>
</table>
